

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 13, scss/styles.scss */
  body {
    background-image: url(../images/background@2x.png); } }
/* line 17, scss/styles.scss */
body {
  font-family: 'Arvo', helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  color: #6b7381;
  background-size: 100px 100px;
  background-attachment: fixed;
  margin: 0; }

header {
  margin-top: 450px;
  text-transform: none;
  position: fixed;
  font-size: 2em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  padding: 0em;
  text-align: center; }
  header span {
    display: block;
    font-size: 45%;
    padding: 0 0 0.6em 0.1em;
    letter-spacing: 0px; 
    text-transform: none;
}

img {
  position: fixed;
  height: auto;
  width: auto;
  max-height: 240px;
  max-width: 240px;
  margin-top: -100px;
  margin-left: 50%;
  left: -120px; }

::selection {
  color: #fff;
  background: #555; }