<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anagram-letter_anagram-letter@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,803}</string>
                <key>spriteSourceSize</key>
                <string>{720,803}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons_button-purple@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1,806},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons_button-white@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{39,806},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_off-switch@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{727,206},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_on-switch@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{727,298},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homescreen_icon-correct-letter@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,101}</string>
                <key>textureRect</key>
                <string>{{884,685},{90,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>homescreen_icon-game-centre@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{800,719},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homescreen_icon-incorrect-letters@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,101}</string>
                <key>textureRect</key>
                <string>{{874,777},{90,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-container-arrow@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{727,798},{65,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-container@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,203}</string>
                <key>spriteSourceSize</key>
                <string>{285,203}</string>
                <key>textureRect</key>
                <string>{{723,1},{285,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-green-on@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,159}</string>
                <key>spriteSourceSize</key>
                <string>{108,159}</string>
                <key>textureRect</key>
                <string>{{894,206},{108,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-green-tapped@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{107,159}</string>
                <key>textureRect</key>
                <string>{{884,528},{107,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-off-tapped@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{108,155}</string>
                <key>spriteSourceSize</key>
                <string>{108,159}</string>
                <key>textureRect</key>
                <string>{{727,500},{108,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-off@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,159}</string>
                <key>spriteSourceSize</key>
                <string>{108,159}</string>
                <key>textureRect</key>
                <string>{{894,367},{108,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-red-on@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,159}</string>
                <key>spriteSourceSize</key>
                <string>{108,159}</string>
                <key>textureRect</key>
                <string>{{727,390},{108,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyboard-colour-marker_letter-marker-red-tapped@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{107,159}</string>
                <key>textureRect</key>
                <string>{{727,610},{107,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyboard_icon-anagram-hint@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,51}</string>
                <key>spriteSourceSize</key>
                <string>{36,51}</string>
                <key>textureRect</key>
                <string>{{461,806},{36,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-green-auto-down@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{499,806},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-green-auto-up@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{195,806},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-green-user-down@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{537,806},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-green-user-up@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{233,806},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-hint-icon@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{77,806},{57,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyboard_key-menu-down@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{575,806},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-menu-icon@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{77,75}</string>
                <key>textureRect</key>
                <string>{{723,719},{77,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyboard_key-menu-tapped@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,66}</string>
                <key>textureRect</key>
                <string>{{157,806},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-menu-up@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{271,806},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-red-auto-down@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{613,806},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-red-auto-up@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{309,806},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-red-user-down@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{651,806},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-red-user-up@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{347,806},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-submit-down@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{689,806},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-submit-up@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{385,806},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-white-down@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{833,793},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_key-white-up@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{423,806},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video-tutorial_close-icon@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{768,798},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assets_web.png</string>
            <key>size</key>
            <string>{1009,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51a391a585ae6ee41f6d4290958bea81:d74069a5f8cca2d407130671026ddbcc:2a64b8a632843e0001c91233c1b35104$</string>
            <key>textureFileName</key>
            <string>assets_web.png</string>
        </dict>
    </dict>
</plist>
