.animated {
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:0.5s;
	-moz-animation-duration:0.5s;
	-ms-animation-duration:0.5s;
	-o-animation-duration:0.5s;
	animation-duration:0.5s;
}

.fadeIn {
	-webkit-animation-name: fadeOutt;
	-moz-animation-name: fadeOutt;
	-o-animation-name: fadeOutt;
	animation-name: fadeOutt;
}

.fadeIn:hover {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}



fadeOutt {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOutt {
	0% {opacity: 1;}	
	100% {opacity: 0;}
}

@-o-keyframes fadeOutt {
	0% {opacity: 1;}	
	100% {opacity: 0;}
}

@keyframes fadeOutt {
	0% {opacity: 1;}	
	100% {opacity: 0;}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
	0% {opacity: 0;	-webkit-transform: translateY(20px);}
	100% {opacity: 1; -webkit-transform: translateY(0);}
}

@-moz-keyframes fadeInUp {
	0% {opacity: 0; -moz-transform: translateY(20px);}
	100% {opacity: 1; -moz-transform: translateY(0);}
}

@-o-keyframes fadeInUp {
	0% {opacity: 0; -o-transform: translateY(20px);}
	100% {opacity: 1; -o-transform: translateY(0);}
}

@keyframes fadeInUp {
	0% {opacity: 0; transform: translateY(20px);}
	100% {opacity: 1; transform: translateY(0);}
}